/* tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: aliceblue;
}

button {
  display: inline-flex;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid coral;
}

#players {
  margin: 0 auto;
  width: 500px;
}

#players_list,
#single-player-link {
  text-decoration: none;
  color: black;
}

.single_player_games {
  width: 200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
